#To prevent user from seeing directory, add this to htacess in the home directory of a website
Options -Indexes

# To disable directory browsing
Options All -Indexes

#To prevent folder listing
IndexIgnore *

#FOR ERROR REPORTING
#php_flag display_errors off


# FOR URL REWRITING
<IfModule mod_rewrite.c>
RewriteEngine on

# for preview_message
RewriteRule ^preview_message/([\d]+)/?$ preview_message.enc.php?page=$1

# for send_email
RewriteRule ^send_email/([\d\w@\.\-\_]*)/?$ send_email.enc.php?page=$1

# for index
RewriteRule ^([\w]*)/([\w]*)/?$ index.php?status=$1&page=$2
</IfModule>


