#To prevent user from seeing directory, add this to htacess in the home directory of a website
Options -Indexes

# To disable directory browsing
Options All -Indexes

#To prevent folder listing
IndexIgnore *

#FOR ERROR REPORTING
#php_flag display_errors off


# FOR URL REWRITING
<IfModule mod_rewrite.c>
RewriteEngine on

# for preview_log
RewriteRule ^preview_log/([\d]+)/?$ preview_log.enc.php?page=$1

# for index
RewriteRule ^([\w]*)/?$ index.php?page=$1
</IfModule>


