#To prevent user from seeing directory, add this to htacess in the home directory of a website
Options -Indexes

# To disable directory browsing
Options All -Indexes

#To prevent folder listing
IndexIgnore *

#FOR ERROR REPORTING
#php_flag display_errors off

# FOR URL REWRITING
<IfModule mod_rewrite.c>
RewriteEngine on

# for index
RewriteRule ^index/?$ index.php

# for login
RewriteRule ^login/?$ login.enc.php

</IfModule>


